{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Permanent Marker' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'base.css'%}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <div class="box">
    <header>
        <h1>
        {%block header%}{%endblock%}
        </h1>
    </header>
    <div class="content">
    {%block content%}{%endblock%}
    </div>
</div>
</body>
</html>