{% extends "Maps/base.html"%}
{%block title%}TrailBlazer{%endblock%}
{%block header%} Trail Blazer {%endblock%}
{%block content%}
    <div class='home'>
    <a href="{%url 'maps-map'%}" class='startmap'>Start Map</a><br>
    Welcome to TrailBlazer: A web application that implements custom optimal path finding algorithm
    </div>
    <br>
    NOTE: The path finder is only as good as the downloaded OSM data. Some buggy roads have already been noted where map data is faulty<br>
    For better results, consider contributing data to OSM and updating the database
    [Current database: Borivali-Kandivali]
{%endblock%}